@use './mixins';

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

.page-margin {
  margin-top: 0rem;
}
@include mixins.desktop() {
  .page-margin {
    margin-top: 10rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4rem;
  grid-auto-flow: column;
}
.sidebar {
  grid-column: 1 / 2;
}
