@use '../globals';

.btn {
  display: block;
  width: 50%;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-black {
  color: white;
  background-color: black;
  box-shadow: 0 4px 16px 0 rgba(0, 238, 255, 0.3);
  transition: box-shadow 0.5s ease;
}
.btn-black:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 238, 255, 0.7);
}
